target/
report/**
target/**
test-output/
test-output/**
logs/
logs/**
*.jar
*.war
*.class
*.iml
*.ipr
*.iws
.idea/workspace.xml
logs/reg-operation.log
.idea/
.idea/**
.DS_Store
.output.txt
.classpath
.project
.settings
.settings/**
*.iml
*.log